#banner{
    width:100%;
}

#banner img{
    width:100%;
    display: block;
}

#starcard{
    background-color: #000;
    color: white;
    /*padding-right: 100px;*/
}
#left-card{
    float: left;
    /*line-height: 220px;*/
    padding-top: 80px;
    text-align:center;
    /*margin-left: 250px;*/
    width: 36%;
}
#right-card{
    display: table;
    width: 58%;
    height: 220px;
    position: relative;
    /*left: 200px;*/
}
#right-first{
  margin-top:50px;
}
#starcard-button{
    /*position: relative;*/
    /*width: 400px;*/
    height: 50px;
}
#starcard-button a{
    color: #a98e67;
    font-size: 14px;
    margin-left: 30px;
}

#app{
    height: 220px;
    width: 100%;
    background:url("../img/app_bg.gif") repeat;
    position: relative;
    display: flex;
}
#device{
    flex-grow: 3;
    width: 30%;
    position: relative;
    margin-top: 20px;
}
#device::after{
    content: '';
    height: 200px;
    display: block;
    clear: both;
    flex-grow: 3;
}
#device img{
    height: 200px;
    position: absolute;
    right:0;
}
#code{
    flex-grow: 1;
    margin-top: 20px;
    height: 200px;
    width: 200px;
    margin-left: 50px;
    margin-right: 30px;
}
#code img{
    width: 130px;
    margin:auto;
    display: block;
}

#app p{
    width: 650px;
    margin-top: 50px;
    height: 76px;
    font-family:AvenirLight, 'HelveticaNeue-Light', 'Helvetica Neue', arial, "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
    color: #3d3d3d;
    font-size: 25px !important;
}
#knowmore a{
    color: #a98e67;
    font-size: 14px;
    position: absolute;
    display: block;
    width: 48%;
    margin-top: 125px;
    right:0;
}
#download{
    width: 50%;
    position: relative;
    display: none;
}
#download a:first-child{
    display: block;
    margin: auto;
    position: absolute;
    top: 75px;
}
#download a:last-child{
    color: #a98e67;
    font-size: 14px;
    position: absolute;
    right: 25px;
    bottom:37px;
}
/*#mooncake{
    width: 100%;
    height: 100%;
}*/
#mooncake img{
    /*width: 100%;*/
    height: 100%;
    max-width: 100%;
}
#img2{
    display: none;
}

#coffee img{
    width: 50%;
    float: left;
}

#say-imgs{
    height: 222px;
    width: 100%;
    background-color: #106e4b;
}
#say-imgs .clearfix{

}
#say-contain{
    margin: 0 auto;
    height:150px;
    /*display: flex;*/
    padding: 30px;
}
#sub-container{
    margin:0 auto;
    width: 800px;
}
.sayimg{
    display: block;
    float: left;
    -webkit-background-size:contain;
    width: 180px;
    height:150px;
    margin: 0 20px;
}
#say-img1{
    background: url(../img/wsg-title.png) no-repeat;
    background-size: contain;
    background-position: center;
}
#say-img2{
    background: url(../img/wsg-qrcode.png) no-repeat;
    background-size: contain;
    background-position: center;
    width: 120px;
}
#say-img3{
    background: url(../img/wsg-cup.png) no-repeat;
    background-size: contain;
    background-position: center;
    width: 100px;
}
#say-img4{
    background: url(../img/wsg-wording.png) no-repeat;
    background-size: contain;
    background-position: center;
}

#watch{
    height:220px;
    /* line-height:220px; */
    background: url(../img/web-bg.png) repeat-x;
    text-align: center;
    /* vertical-align: top; */
    /* vertical-align:middle; */
}
#watch-pic{
    background: url(../img/web-iwatch-cn.png) no-repeat;
    height: 100%;
    /* float: left; */
    width: 408px;
    display: inline-block;
    vertical-align:middle;
}
#watch-detail{
    display: inline-block;    
    width: 480px;
    height: 114px;
    vertical-align:middle;
    text-align: left;
    padding: 0 60px;
  
    /* float: left; */
    /* margin-bottom: 100px; */
    /* margin-top: -60px; */
}
#watch-detail h4{
    line-height: 29px;
}
#watch-code{
    display: inline-block;
    width: 140px;
    /* float: left; */
    height: 207px;
    vertical-align:middle;
    padding-top: 30px;
}
#watch-code img{
    width: 130px;
    height: 130px;
}
#watch-download{
    display: none;
}
#watch-download a{
    display: block;
    width: 188px;
    height: 75px;
    background: url(../img/udp-starbucks-cn.svg);
}

#choice{
    height: 500px;
    cursor: pointer;
    text-align: center;
    background-color: #f5f5f5;
    padding-top:60px;
    text-decoration: none;
}
#choice h2{
    margin-top: 0;
}
#choice>h4{
    color: #8B8B8B;
    margin-top: 30px;
    margin-bottom: 60px;
}

#choice a:hover{  
    color: #b89f7a;
    text-decoration: none;
}
.choice-card{
    border: 1px solid #cccccc;
    width: 240px;
    height: 280px;
   
    color: black;
    display: inline-block;
    margin: 0 12px 40px 12px;
}
.choice-card img{
    width: 100%;
    height: 160px;
}
.choice-card-bottom h4{
    font-weight: bold;
    margin-top: 16px;
    display: inline-block;
}
.arrow{
    display: none;
    width: 16px;
    height: 16px;
    /* display: inline-block; */
    background: url(../img/arrow.png) center center no-repeat;
}
@media (max-width:668px){
    #choice{
        height: 800px;
    }
    .choice-card{
       width: 136px;
       height: 220px;
       vertical-align: top;
    }
    .choice-card img{
        height: 86px;
    }
    .arrow{
        display: inline-block;
    }
}
@media (max-width:360px){
    #choice{
        height: 1280px;
    }
}

@media (max-width:1052px){
    #watch{
        height: 730px;
    }
    #watch-pic{
        display: block;
        width: 414px;
        height: 338px;
        margin:0 auto;
        background-size: contain;
        background-image: url(../img/mobile-iwatch-cn.png);    
    }
    #watch-detail{
        display: block;
        margin: 0 auto;
        width: 95%;
        height: 140px;
        text-align: center;
    }
    #watch-detail a{
        color: #a98e67;
        font-size: 14px;
        /* position: absolute; */
        display: block;
        /* width: 48%;  */
    }
    #watch-download{
        /* display: block; */
        display: inline-block;
        width: 188px;
        height: 75px;
        margin: 0 auto;
        background: url(../img/udp-starbucks-cn.svg);
    }
    #watch-code{
        display: none;
    }
}
@media (max-width: 768px) {
    #left-card{
        width: 100%;
    }
    #right-card{
        margin:0 auto;
        text-align: center;
        width: 100%;
    }
    #starcard-button button{
        width: 60%;
    }
    #right-card a{
        margin-left: 0;
        display: block;
        height: 20px;
        text-align: right;
    }
    body #starcard {
        height:400px;
    }

    #code,#knowmore{
        display: none;
    }
    #app p{
        font-size: 18px !important;
        position: absolute;
        /*top: 10px;*/
        margin-top: 10px;
        text-align: center;
        width: 95%;
    }
    #app{
        display: flex;
    }
    #download{
        display: block;
    }
    #device,#download{
        width: 45%;
        margin:0 20px;
        flex-grow:1;
        /*margin-left: 30px;*/
    }
    #device{
        height: 180px;
    }
    #download img{
        width: 100%;
    }
    #device img{
        width: 84%;
        height: 100%;
        max-width: 100%;
        margin-top: 40px;
        margin-right: 20px;
    }
    #device::after{
        content: '';
       /* height: 180px;
        display: block;
        clear: both;*/
    }
    #img2{
        display: block;
    }
    #img1{
        display:none;
    }
    #coffee img{
        width: 100%;
    }
    #say-imgs,#say-contain{
        height: 382px;

    }
    #sub-container{
        width: 60%;
        position: relative;
    }
    .sayimg{
        width: 30%;
    }
    #say-img3{
        float: none;
    }
    #say-img1,#say-img4{
        float: right;
        width: 50%;
    }
    #say-img2{
        position: absolute;
        top: 150px;
    }


}
